* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#controls button {
    margin: 10px;
    width: 20vmin;
    background-color: indigo;
}

.hero {
    background-color: white;
    color: #333333;
    display:none;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.title, .subtitle {
    color: #333333;
}

#controls button:hover {
    margin: 10px;
    width: 20vmin;
    background-color: rgb(149,85,192);
}

#new-hand {
    display:none;
}

main {

}

.card {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 150px;
}

#play-area {
    text-align: center;
}

#right {
    text-align: center;
}

#percentage, #feedback {
    font-size: 22px;
    color: indigo;
    height: 25vmin;
}

span{
    font-size: 30px;
}

.righthead {
    font-size: 20px;
    font-weight:bold;
    color: indigo;
    border-bottom: 2px solid indigo;
    margin-bottom: 10px;
}

.field.is-grouped{
    display: inline-flex;
}