* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#controls button {
    margin: 10px;
    width: 20vmin;
    background-color: indigo;
}

.hero {
    background-color: white;
    color: indigo;
    text-align: center;
    font-weight: bold;
    font-size:25px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#controls button:hover {
    margin: 10px;
    width: 20vmin;
    background-color: rgb(149,85,192);
}

#new-hand {
    display:none;
}

main {

}

.card {
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    width: 120px;
}

#play-area {
    text-align: center;
}

#right {
    text-align: center;
}

#percentage, #feedback {
    font-size: 18px;
    color: black;
    height: 15vmin;
}

span{
}

.righthead {
    font-size: 20px;
    font-weight:bold;
    color: black;
    margin-bottom: 10px;
    text-decoration: underline;
}

.field.is-grouped{
    display: inline-flex;
}