* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: row;
}

#play-area {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    background-color: blanchedalmond;
}   

button {
    color: black;
}

img {
    width: 150px;
}

#feedback {
    background-color: purple;
    width: 25%;
    order: 2;
}
#dealer, .player {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

div.card {
    width: 150px;
    height: 240px;
    background-color: royalblue;
    display: inline-block;
}
